@model IEnumerable<bdExercicio.Models.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Inventário</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.IdCliente) *@ <label> ID Cliente</label>
            </th>
            <th>
               @*  @Html.DisplayNameFor(model => model.IdMaquina) *@  <label>ID Máquina</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor) 
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.Quantidade) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
